body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.title-container{
    background-image: url(images/canva1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.content{
    color: white;
    text-align: center;
    padding: 200px 0;
}
.title{
    font-size: 2em;
}
.text{
    font-size: 18px;
    margin: 0 373px;
    height: 190px;
    line-height: 200%;
    width: fit-content;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.donate-btn{
    color: black;
    text-decoration: none;
    background-color:aqua;
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
}

.middle-container{
    width: 80%;
    height: 60vh;
    margin: 100px 150px;
    text-align: center;
}
.Donors-title{
    height: auto;
    margin-top: 100px;
    font-size: 40px;   
}

.choose-plan{
    font-size: 1em;
margin-left: 0;
display: inline-flex;
text-align: justify;
}
#orng{
    background-color: rgb(255, 208, 175);
    border: 2px solid salmon;
}
.dollar{
    background-color: rgb(228, 224, 220);
    font-size: 50px;
    margin: 10px 8px;
    padding-top: 35px ;
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}
.enter-dlr{
    width: 400px;
    height: 30px;
    text-align: center;
    border: none;
    font-size: 18px;
    padding: 5px;
}

.donate-plan{
    width: 80%;
    height: 100vh;
    text-align: center;
    margin: 180px 50px 0px 150px;
}
.plan-box{
    width: 80%;
    height: 80vh;
    display: flex;
    margin: 50px 150px;
}
#family1{
    background-color:rgb(252, 242, 229)
}
#family2{
    background-color: rgb(229, 253, 245);
}
#family3{
    background-color: rgb(240, 240, 253);
}
.food{
    width: 400px;
    height: 250px;
    text-align: left;
    padding: 80px 10px 0 10px;
    border-radius: 10px;
    margin: 0 0 20px 15px;
}
.dtext-donate{
    font-size: 18px;
    height: 200%;
    padding: 5px;
}
footer{
    width: 100%;
    height: 170px;
    background-color: black;
}