body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.title-container{
    background-image: url(images/canva1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.content{
    color: white;
    text-align: center;
    padding: 200px 0;
}
.title{
    font-size: 2em;
}
.text{
    font-size: 18px;
    margin: 0 373px;
    height: 190px;
    line-height: 200%;
    width: fit-content;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.donate-btn{
    color: black;
    text-decoration: none;
    background-color:aqua;
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
}

.middle-container{
    width: 80%;
    height: 60vh;
    margin: 100px 150px;
    text-align: center;
}
.Donors-title{
    height: auto;
    margin-top: 100px;
    font-size: 40px;   
}

.choose-plan{
    font-size: 1em;
margin-left: 0;
display: inline-flex;
text-align: justify;
}
#orng{
    background-color: rgb(255, 208, 175);
    border: 2px solid salmon;
}
.dollar{
    background-color: rgb(228, 224, 220);
    font-size: 50px;
    margin: 10px 8px;
    padding-top: 35px ;
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}
.enter-dlr{
    width: 400px;
    height: 30px;
    text-align: center;
    border: none;
    font-size: 18px;
    padding: 5px;
}

.donate-plan{
    width: 80%;
    height: 90vh;
    text-align: center;
    margin: 180px 50px 10px 150px;
}
.plan-box{
    width: 80%;
    height: 80vh;
    display: flex;
    margin: 50px 150px;
    padding: 10px;
}
#family1{
    background-color:rgb(252, 242, 229)
}
#family2{
    background-color: rgb(229, 253, 245);
}
#family3{
    background-color: rgb(240, 240, 253);
}
.food{
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 30px 10px 0 10px;
    border-radius: 10px;
    margin: 5px 20px;
    box-shadow: 10px 15px 15px gray;
}
.food img{
    width: 60px;
}
.text-donate{
    font-size: 18px;
    height: 200%;
    padding: 5px;
}

.aboutsec{
    width: 100%;
    height: 60vh;
    display: flex;
    text-align: center;
    padding: 70px 20px 0 20px;
    background-color: antiquewhite;
    margin-bottom: -30px;
}
.pic-abo img{
    width: 600px;
    border-radius: 10px ;
}
.pic-abo{
    margin-left: 100px;
    width: 40%;
    
}
#descp1{
    padding-top: 50px;
}
.form{
    width: 600px;
    height: 130px;
    background-color: rgb(255, 246, 170);
    text-align: center;
    margin: 20px 5px 2px 490px;
    border-radius: 20px;

}
.email{
    text-align: center;
    margin-top: 48px;
    font-size: 25px;
    background-color: rgb(185, 185, 185);
    border: none;
    font-size: 25px;
    border-radius: 5px;
}
#btn{
    background-color: rgb(255, 81, 81);
}
.lowar{
    width: 100%;
    height: 40vh;
    background-color: antiquewhite;
    text-align: center;
}


footer{
    color: aliceblue;
    font-size: small;
    padding-top: 90px;
    width: 100%;
    height: 90px;
    background-color: black;
    text-align: center;
}
.copyright{
    margin-top: 0;
}