body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.title-container{
    background-image: url(images/canva1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.content{
    color: white;
    text-align: center;
    padding: 200px 0;
}
.title{
    font-size: 2em;
}
.text{
    height: 150px;
    color: black;
    background-color: white;
    font-size: 18px;
    margin: 0 340px 20px;
    padding: 5px;
    border-radius: 10px;
}
.donate-btn{
    color: black;
    text-decoration: none;
    background-color:aqua;
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
}

.middle-container{
    width: 80%;
    height: 70vh;
    margin: 100px;
    text-align: center;
}
.Donors-title{
    font-size: 40px;
    margin-bottom: 40px;
}
.choose-plan{
    font-size: 1em;
margin-left: 0;
display: inline-flex;
text-align: justify;
}
#orng{
    background-color: rgb(255, 208, 175);
    border: 2px solid salmon;
}
.dollar{
    background-color: rgb(228, 224, 220);
    font-size: 50px;
    margin: 10px 8px;
    padding-top: 35px ;
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}
.enter-dlr{
    width: 400px;
    height: 30px;
    text-align: center;
    border: none;
    font-size: 18px;
    padding: 5px;
}

